*.sh        text eol=lf
*.js        text eol=lf
*.json      text eol=lf
*.rc        text eol=lf
*.md        text eol=lf
*.py        text eol=lf
*.cpp       text eol=lf
*.java      text eol=lf
*.c         text eol=lf
*.config    text eol=lf
*.webmanifest text eol=lf
*.ini       text eol=lf
*.awk       text eol=lf
*.hosts     text eol=lf
*.yml       text eol=lf
*.bat       text eol=crlf
userinit/run.sh    text eol=lf
userinit/flipfull  text eol=lf
userinit/services/*/www/cgi-bin/* text eol=lf

*.zip   binary
*.bin   binary
*.gguf  binary
*.mp4   binary
*.gif   binary
*.png   binary
*.wav   binary
*.dex   binary
userinit/bin/*                        binary
userinit/services/stt/stt-server      binary
userinit/services/callrec/callrecd    binary
