__pycache__/
node_modules/
*.tmp
*.lf
.installed-files.tmp
.cache/
userinit/overlays/
userinit/apps/
userinit/services/stt/models/
userinit/media/
client_secret*.json
backups/
dist/
system_apps/
icons/
src/bootanim/
scripts/